<!DOCTYPE html>
<html th:fragment="layout(title, link, main, pretraga, script)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<base th:href="@{/}">-->
<!--    <link rel="stylesheet" type="text/css" href="css/Index.css">-->
    <title th:replace="${title}"></title>
    <th:block th:replace="${link}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/}">Početna stranica</a></li>
            <li th:if="${session.prijavljeniKorisnik != null && #strings.toString(session.prijavljeniKorisnik.getUloga().toString()) == 'KUPAC'}"><a th:href="@{/ListaZelja}">Lista Želja</a></li>
            <li th:if="${session.prijavljeniKorisnik != null && #strings.toString(session.prijavljeniKorisnik.getUloga().toString()) == 'KUPAC'}"><a th:href="@{/Korisnici/LoyaltyKartica}">Loyalty Kartica</a></li>
            <li><a href="#">Element3</a></li>
            <li id="sortiranjeIkonica"><a href="#"><img th:src="@{/slike/sortiranje.png}" alt=""></a>
                <div th:if="${url != null}" id="subnav">
                    <ul>
                        <li id="sortirajPoNazivu"><a href="#">Sortiranje Po Nazivu</a>
                            <div id="sortirajPoNazivuSubNav">
                                <ul>
                                    <li><a th:if="${#strings.indexOf(url, '?') != -1}" th:href="@{|${url}&sort=nazivRastuci|}">Rastuce</a></li>
                                    <li><a th:if="${#strings.indexOf(url, '?') == -1}" th:href="@{|${url}?sort=nazivRastuci|}">Rastuce</a></li>
                                    <li><a th:if="${#strings.indexOf(url, '?') != -1}" th:href="@{|${url}&sort=nazivOpadajuci|}">Opadajuce</a></li>
                                    <li><a th:if="${#strings.indexOf(url, '?') == -1}" th:href="@{|${url}?sort=nazivOpadajuci|}">Opadajuce</a></li>
                                </ul>
                            </div>
                        </li>

                        <li id="sortirajPoCeni"><a href="#">Sortiranje Po Ceni</a>
                            <div id="sortirajPoCeniSubNav">
                                <ul>
                                    <li><a th:if="${#strings.indexOf(url, '?') != -1}" th:href="@{|${url}&sort=cenaRastuci|}">Rastuce</a></li>
                                    <li><a th:if="${#strings.indexOf(url, '?') == -1}" th:href="@{|${url}?sort=cenaRastuci|}">Rastuce</a></li>
                                    <li><a th:if="${#strings.indexOf(url, '?') != -1}" th:href="@{|${url}&sort=cenaOpadajuci|}">Opadajuce</a></li>
                                    <li><a th:if="${#strings.indexOf(url, '?') == -1}" th:href="@{|${url}?sort=cenaOpadajuci|}">Opadajuce</a></li>
                                </ul>
                            </div>
                        </li>
                        <li id="sortirajPoAutoru"><a href="#">Sortiranje Po Autoru</a>
                            <div id="sortirajPoAutoruSubNav">
                                <ul>
                                    <li><a th:if="${#strings.indexOf(url, '?') != -1}" th:href="@{|${url}&sort=autorRastuci|}">Rastuce</a></li>
                                    <li><a th:if="${#strings.indexOf(url, '?') == -1}" th:href="@{|${url}?sort=autorRastuci|}">Rastuce</a></li>
                                    <li><a th:if="${#strings.indexOf(url, '?') != -1}" th:href="@{|${url}&sort=autorOpadajuci|}">Opadajuce</a></li>
                                    <li><a th:if="${#strings.indexOf(url, '?') == -1}" th:href="@{|${url}?sort=autorOpadajuci|}">Opadajuce</a></li>
                                </ul>
                            </div>
                        </li>
                        <li id="sortirajPoJeziku"><a href="#">Sortiranje Po Jeziku</a>
                            <div id="sortirajPoJezikuSubNav">
                                <ul>
                                    <li><a th:if="${#strings.indexOf(url, '?') != -1}" th:href="@{|${url}&sort=jezikRastuci|}">Rastuce</a></li>
                                    <li><a th:if="${#strings.indexOf(url, '?') == -1}" th:href="@{|${url}?sort=jezikRastuci|}">Rastuce</a></li>
                                    <li><a th:if="${#strings.indexOf(url, '?') != -1}" th:href="@{|${url}&sort=jezikOpadajuci|}">Opadajuce</a></li>
                                    <li><a th:if="${#strings.indexOf(url, '?') == -1}" th:href="@{|${url}?sort=jezikOpadajuci|}">Opadajuce</a></li>
                                </ul>
                            </div>
                        </li>
                        <li id="sortirajPoProsecnojOceni"><a href="#">Sortiranje Po Oceni</a>
                            <div id="sortirajPoProsecnojOceniSubNav">
                                <ul>
                                    <li><a th:if="${#strings.indexOf(url, '?') != -1}" th:href="@{|${url}&sort=ocenaRastuci|}">Rastuce</a></li>
                                    <li><a th:if="${#strings.indexOf(url, '?') == -1}" th:href="@{|${url}?sort=ocenaRastuci|}">Rastuce</a></li>
                                    <li><a th:if="${#strings.indexOf(url, '?') != -1}" th:href="@{|${url}&sort=ocenaOpadajuci|}">Opadajuce</a></li>
                                    <li><a th:if="${#strings.indexOf(url, '?') == -1}" th:href="@{|${url}?sort=ocenaOpadajuci|}">Opadajuce</a></li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li id="pretragaIkonica"><a href="#"><img  th:src="@{/slike/lupa.png}" alt=""></a></li>
            <li id="poslednji" th:id="${session.prijavljeniKorisnik == null} ? 'poslednji' : 'odjava'"><a href="#" th:text="${session.prijavljeniKorisnik == null} ? 'Prijava/Registracija' : 'Odjavi se'" th:href="${session.prijavljeniKorisnik == null} ? '#' : 'Korisnici/Odjava'"></a></li>
            <li th:if="${session.prijavljeniKorisnik != null}" id="korpaIkonica"><a href="/Knjizara/Korpa"><img th:src="@{/slike/korpa.jpg}" alt=""></a></li>
        </ul>
    </nav>


    <div th:replace="${pretraga}"></div>
    <main th:replace="${main}"></main>
    <div class="loginBackground">
        <div class="loginContent">
            <div class="close">+</div>
            <form action="/Knjizara/Korisnici/Prijavljivanje" method="POST" id="loginForm">
                <h2 id="poruka">Unesite svoje korisničko ime i lozinku.</h2>
                <input id="txtUsername" type="text" placeholder="Korisnicko Ime" autocomplete="off" name="korisnickoIme">
                <input id="txtPassword" type="password" placeholder="Lozinka" autocomplete="off" name="lozinka">
                <button type="submit">Login</button>
                <h2 id="registracija">Ako nemate nalog kliknite na dugme registruj se!</h2>
                <button id="dugmeRegistrujSe" type="button">Registruj Se</button>
            </form>
        </div>
    </div>

<!--    <th:block th:replace="${scripts}"/>-->
    <th:block th:replace="${script}"/>

</body>
</html>