* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #607d8b;
    text-align: left;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #455A64;
}

#poslednji {
    float: right;
}

main {
    display: inline-block;
    margin-top: 25px;
    width: 100%;
}