* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



nav {
    position: fixed;
    width: 100%;
    background-color:#1d1e3a;
    text-align: left;
    position: relative;
    float: left;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    float: left;
}

nav ul li a:hover {
    background-color: #455A64;
}

#pretragaIkonica {
    margin-left: 90px;
    margin-top: 0px;
    display: none;
    padding-top: 0px;
    height: 100%;
    position: absolute;
}

#sortiranjeIkonica {
    display: none;
}

#pretragaIkonica img {
    padding-top: 3px;
    height: 18px;
    width: 15px;
}

#pretragaIkonica a {
    height: 38px;
}

#korpaIkonica {
    margin-left: 0px;
    margin-top: 0px;
    display: inline-block;
    float: right;
    padding-top: 0px;
    height: 100%;
    position: relative;
}

#korpaIkonica img {
    padding-top: 0px;
    height: 20px;
    width: 25px;
}

#korpaIkonica a {
    height: 38px;
}

#poslednji {
    float: right;
}

#odjava {
    float: right;
}

main {
    display: inline;
    width: 100%;
    float: left;
}


#sadrzaj {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 100%;
}

#sadrzaj label {
    float: left;
    width: 20%;
}

#zvezdice {
    display: inline-block;
    width: 20%;
}

.checked {
    color: #ffe100;
}

.izabrano {
    color: #ffe100;
}

#sadrzaj textarea {
    margin-left: 5px;
}

.loginBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}



.loginContent {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.loginContent input {
    width: 50%;
    display: block;
    margin: 15px auto;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}