* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#2cbcb2;
}

nav {
    position: fixed;
    width: 100%;
    background-color:#1d1e3a;
    text-align: left;
    position: relative;
    float: left;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    float: left;
}

nav ul li a:hover {
    background-color: #455A64;
}

#sortiranjeIkonica {
    margin-left: 30px;
    margin-top: 0px;
    display: inline-block;
    padding-top: 0px;
    height: 100%;
    position: relative;
    float: left;
}


#sortiranjeIkonica img {
    padding-top: 0px;
    height: 22px;
    width: 22px;
}

#sortiranjeIkonica a {
    height: 38px;
}

#subnav {
    display: none;
    position: absolute;
    left: 0;
    top: 38px;
    background-color: #1d1e3a;
    width: 220px;
    z-index: 1;
}

/* Style the subnav links */
#subnav a {
    float: left;
    color: white;
    text-decoration: none;
    width: 100%;
}

#sortirajPoNazivuSubNav {
    display: none;
    position: absolute;
    left: 220px;
    top: 0px;
    background-color: #1d1e3a;
    width: 220px;
    z-index: 1;
}

#sortirajPoCeniSubNav {
    display: none;
    position: absolute;
    left: 220px;
    top: 38px;
    background-color: #1d1e3a;
    width: 220px;
    z-index: 1;
}

#sortirajPoAutoruSubNav {
    display: none;
    position: absolute;
    left: 220px;
    top: 76px;
    background-color: #1d1e3a;
    width: 220px;
    z-index: 1;
}

#sortirajPoJezikuSubNav {
    display: none;
    position: absolute;
    left: 220px;
    top: 114px;
    background-color: #1d1e3a;
    width: 220px;
    z-index: 1;
}

#sortirajPoProsecnojOceniSubNav {
    display: none;
    position: absolute;
    left: 220px;
    top: 152px;
    background-color: #1d1e3a;
    width: 220px;
    z-index: 1;
}

#pretragaIkonica {
    margin-left: 30px;
    margin-top: 0px;
    display: inline-block;
    padding-top: 0px;
    height: 100%;
    position: relative;
    float: left;
}

#pretragaIkonica img {
    padding-top: 3px;
    height: 18px;
    width: 15px;
}

#pretragaIkonica a {
    height: 38px;
}

#korpaIkonica {
    margin-left: 0px;
    margin-top: 0px;
    display: inline-block;
    float: right;
    padding-top: 0px;
    height: 100%;
    position: relative;
}

#korpaIkonica img {
    padding-top: 0px;
    height: 20px;
    width: 25px;
}

#korpaIkonica a {
    height: 38px;
}

#pretragaDiv {
    display: none;
}

#poslednji {
    float: right;
}

#odjava {
    float: right;
}

main {
    display: inline-block;
    margin-top: 0px;
    width: 100%;
}
/*
table {
    display: block;
    width: 86%;
    text-align: center;
    font-size: 35px;
    margin-right: auto;
    margin-left: auto;
}

#tabela {


}

table,th,td  {
    white-space: nowrap;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #ddd;
}

th, td {
    padding: 10px;
}

table caption {
    font-size: 40px;
    padding: 10px;
} */

.sadrzaj {



}

.knjige {
    position: relative;
    box-sizing: border-box;
    float: left;
    padding: 5px;
    margin-top: 25px;
    width: 24%;
    height: 200px;
    margin-left: 10px;
    background-color: #ff7369;
}

.knjige h2 {
    font-size: 20px;
}

.knjige img {
    float: left;
    margin-right: 10px;
    width: 130px;
    height: 100%;
}

.autor {
    float: right;
    margin-bottom: 10px;
}

.opis {
    float: left;
    width: 60%;
}

#zvezdice {
    position: absolute;
    right: 120px;
    top: 150px;
}

#cena {
    position: absolute;
    right: 10px;
    top: 150px;
}

.checked {
    color: #ffe100;
}

#dugmeKupi {
    position: absolute;
    right: 5px;
    top: 175px;
}

#dugmeUListu {
    position: absolute;
    right: 100px;
    top: 175px;
}



.loginBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}



.loginContent {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.loginContent input {
    width: 50%;
    display: block;
    margin: 15px auto;
}

#registracija {
    margin-top: 30px;
    margin-bottom: 15px;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

@media screen and (max-width: 1530px) {

    .knjige {
        box-sizing: border-box;
        float: left;
        padding: 5px;

        width: 32%;
        height: 200px;
        margin-left: 10px;
        background-color: #ff7369;
    }

}

@media screen and (max-width: 1125px) {

    .knjige {
        box-sizing: border-box;
        float: left;
        padding: 5px;
        width: 47%;
        height: 200px;
        margin-left: 10px;
        background-color: #ff7369;
    }

}