* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: inline-block;
    float: left;
    position: fixed;
    width: 100%;
    background-color: black;
    text-align: left;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: gray;
}

#pretragaIkonica {
    display: none;
    margin-left: 90px;
    margin-top: 0px;

    padding-top: 0px;
    height: 100%;
    position: absolute;
}

#pretragaIkonica img {
    padding-top: 3px;
    height: 18px;
    width: 15px;
}

#pretragaIkonica a {
    height: 38px;
}

#pretragaDiv {
    display: none;
}

#sortiranjeIkonica {
    display: none;
}

#poslednji {
    float: right;
}

main {
    display: inline-block;
    margin-top: 50px;
    width: 90%;
}

main form {
    width: 90%;
}

main label {
    display: inline-block;
    float: left;
    width: 30%;
    height: 50px;
    text-align: right;
    padding-right: 30px;
    white-space: nowrap;
    line-height: 55px;
    padding-bottom: 50px;
}

main input {
    display: inline-block;
    float: left;
    height: 50px;
    width: 70%;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 5px;
}

#korpaIkonica {
    display: none;
}

main select {
    display: inline-block;
    float: left;
    height: 50px;
    width: 70%;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    text-align-last: center;
    margin-bottom: 5px;
}

#nalepnicaZanrovi {
    height: 70px;
}

#checkbox {
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 20px;
    float: left;
    width: 10px;
    height: 10px;
}

#zanrovi {
    border: #1d1e3a solid 2px;
}

#spanovi {
    display: inline-block;
    margin-right: 55px;
    margin-left: 5px;
    margin-bottom: 20px;
    float: left;
    width: 10px;
    height: 10px;
}

#blok {
    display: inline-block;
    float: left;
}

#okvir {
    width: 70%;
    display: inline-block;
    float: left;
    border: solid black 1px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
}

#okvir>*{
    border: 0;
}

#slika {
    border: 1px solid black;
    margin-bottom: 5px;
}

main form button {
    display: inline-block;
    float: left;
    height: 50px;
    width:  50%;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    text-align-last: center;
    margin-left: 50%;
    margin-bottom: 5px;
}


@media screen and (max-width: 771px) {
    main {
        margin-top: 90px;
    }
}