* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heart {
    fill: red;
    position: relative;
    top: 5px;
    width: 50px;
    animation: pulse 1s ease infinite;
}

/*@keyframes pulse {*/
/*    0% { transform: scale(1); }*/
/*    50% { transform: scale(1.3); }*/
/*    100% { transform: scale(1); }*/
/*}*/

nav {
    position: fixed;
    width: 100%;
    background-color:#1d1e3a;
    text-align: left;
    position: relative;
    float: left;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    float: left;
}

nav ul li a:hover {
    background-color: #455A64;
}

#korpaIkonica {
    margin-left: 0px;
    margin-top: 0px;
    display: inline-block;
    float: right;
    padding-top: 0px;
    height: 100%;
    position: relative;
}

#korpaIkonica img {
    padding-top: 0px;
    height: 20px;
    width: 25px;
}

#korpaIkonica a {
    height: 38px;
}

#sortiranjeIkonica {
    display: none;
}

#pretragaIkonica {
    display: none;
    margin-left: 90px;
    margin-top: 0px;
    display: none;
    padding-top: 0px;
    height: 100%;
    position: absolute;
}

#pretragaIkonica img {
    padding-top: 3px;
    height: 18px;
    width: 15px;
}

#pretragaIkonica a {
    height: 38px;
}


#poslednji {
    float: right;
}

#sadrzaj {
    margin-top: 50px;
    display: inline-block;
    float: left;
    width: 38%;
    border: 1px solid black;
}

#sadrzaj h1{
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-left: 5px;
    width: 90%;
    float: left;
    text-align: left;
}

#sadrzaj label {
    display: inline-block;
    width: 20%;
    margin-bottom: 20px;
    margin: 0px 10px 20px 10px;
    float: left;
    font-size: 25px;
}

#sadrzaj p {
    display: inline-block;
    width: 65%;
    margin-bottom: 20px;
    margin: 0px 10px 20px 10px;
    float: left;
    font-size: 25px;
}

#sadrzaj button {
    display: inline-block;
    width: 45%;
    margin-bottom: 20px;
    margin: 0px 10px 20px 10px;
    float: left;
    font-size: 25px;
}

#opisKnjige {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

#poslednji {
    float: right;
}

#odjava {
    float: right;
}

main {
    display: inline;
    width: 100%;
    float: left;
}

main img {
    margin: 50px 10px 10px 10px;
    display: inline-block;
    float: left;
    width: 20%;
}

.loginBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}



.loginContent {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.loginContent input {
    width: 50%;
    display: block;
    margin: 15px auto;
}

#registracija {
    margin-top: 30px;
    margin-bottom: 15px;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

@media screen and (max-width: 998px) {
    
    #opisKnjige {
        width: 55%;
    }

    img {
        width: 70%;
        float: none;
        display: block;
        
        margin-right: auto;
        margin-left: auto;
    }

    #podaciKnjige {
        margin-top: 0px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 770px) {
    main {
        margin-top: 38px;
    }
}