* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: inline-block;
    float: left;
    position: fixed;
    width: 100%;
    background-color: black;
    text-align: left;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: gray;
}

#sortiranjeIkonica {
    display: none;
}

#pretragaIkonica {
    display: none;
    margin-left: 90px;
    margin-top: 0px;
    display: none;
    padding-top: 0px;
    height: 100%;
    position: absolute;
}

#pretragaIkonica img {
    padding-top: 3px;
    height: 18px;
    width: 15px;
}

#pretragaIkonica a {
    height: 38px;
}


#poslednji {
    float: right;
}

main {
    display: inline;
    width: 100%;
    float: left;
}

#sadrzaj {
    background-image: url("/Knjizara/slike/papir.jpg");
    background-size: 100% 100%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 45%;
    height: 100%;
    border: solid white 1px;
}

#sadrzaj img {
    display: none;
    display: block;
    width: 50%;
    margin: 15px auto 10px auto;
    height: 250px;
}

#sadrzaj label{
    display: inline-block;
    width: 35%;
    text-align: left;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 35px;
}

#sadrzaj p{
    display: inline-block;
    width: 50%;
    text-align: left;
    font-size: 25px;
    margin-top: 25px;
    margin-right: 1px;
}

#posalji {
    position: relative;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}

@media screen and (max-width: 1021px) {
    #sadrzaj {
        width: 75%;
    }

    #sadrzaj label {
        margin-left: 70px;
    }

    #sadrzaj p {
        margin-left: 10px;
        width: 20%;
    }
}