* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: inline-block;
    float: left;
    position: fixed;
    width: 100%;
    background-color: black;
    text-align: left;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: gray;
}

#sortiranjeIkonica {
    display: none;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 600px;
}

#pretragaIkonica {
    display: none;
    margin-left: 90px;
    margin-top: 0px;
    display: none;
    padding-top: 0px;
    height: 100%;
    position: absolute;
}

#pretragaIkonica img {
    padding-top: 3px;
    height: 18px;
    width: 15px;
}

#pretragaIkonica a {
    height: 38px;
}

#korpaIkonica {
    margin-left: 0px;
    margin-top: 0px;
    display: inline-block;
    float: right;
    padding-top: 0px;
    height: 100%;
    position: relative;
}

#korpaIkonica img {
    padding-top: 0px;
    height: 20px;
    width: 25px;
}

#korpaIkonica a {
    height: 38px;
}

#poslednji {
    float: right;
}

#nema-stavka {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

main {
    margin-top: 20px;
    padding-left: 30px;
    display: inline;
    width: 100%;
    float: left;
}

.tabela {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 600px;
}

.tabela thead tr {
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

.tabela tbody tr {
    border-bottom: 1px solid white;
}

.tabela tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabela tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tabela th, .tabela td {
    padding: 12px ;
}














.loginBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.loginContent {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.loginContent input {
    width: 50%;
    display: block;
    margin: 15px auto;
}

#registracija {
    margin-top: 30px;
    margin-bottom: 15px;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
