* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: inline-block;
    float: left;
    position: fixed;
    width: 100%;
    background-color: black;
    text-align: left;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: gray;
}

#sortiranjeIkonica {
    display: none;
}

#pretragaIkonica {
    display: none;
    margin-left: 90px;
    margin-top: 0px;
    display: none;
    padding-top: 0px;
    height: 100%;
    position: absolute;
}

#pretragaIkonica img {
    padding-top: 3px;
    height: 18px;
    width: 15px;
}

#pretragaIkonica a {
    height: 38px;
}


#poslednji {
    float: right;
}

main {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline;
    width: 100%;
    float: left;
}

.tabela {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 600px;
}

.tabela thead tr {
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

.tabela tbody tr {
    border-bottom: 1px solid white;
}

.tabela tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabela tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tabela th, .tabela td {
    padding: 12px ;
}

