* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: inline-block;
    float: left;
    position: fixed;
    width: 100%;
    background-color: black;
    text-align: left;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: gray;
}

#pretragaIkonica {
    display: none;
    margin-left: 90px;
    margin-top: 0px;

    padding-top: 0px;
    height: 100%;
    position: absolute;
}

#pretragaIkonica img {
    padding-top: 3px;
    height: 18px;
    width: 15px;
}

#pretragaIkonica a {
    height: 38px;
}

#pretragaDiv {
    display: none;
}

#poslednji {
    float: right;
}

main {
    display: inline-block;
    margin-top: 50px;
    width: 100%;
}

main form {
    width: 90%;
}


main label {
    display: inline-block;
    float: left;
    width: 30%;
    height: 50px;
    text-align: right;
    padding-right: 30px;
    white-space: nowrap;
    line-height: 55px;
    padding-bottom: 50px;
}

main input {
    display: inline-block;
    float: left;
    height: 50px;
    width: 60%;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 5px;
}

main {
    text-align: center;
}

main #posalji {
    display: inline-block;
    width: 60%;
    margin-top: 25px;
    height: 50px;
    text-align: center;
    margin-left: 20%;
}

.loginBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.loginContent {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.loginContent input {
    width: 50%;
    display: block;
    margin: 15px auto;
}

#registracija {
    margin-top: 30px;
    margin-bottom: 15px;
}

#sortiranjeIkonica {
    display: none;
}