* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
}

nav {
    position: fixed;
    width: 100%;
    background-color: black;
    text-align: left;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: gray;
}

#poslednji {
    float: right;
}

main {
    display: inline-block;
    width: 100%;
}

#sadrzaj {
    background-image: url(papir.jpg);
    background-size: 100% 100%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 45%;
    height: 100%;
    border: solid white 1px;
}

#sadrzaj img {
    display: block;
    width: 70%;
    margin: 15px auto 10px auto;
}

#sadrzaj label{
    display: inline-block;
    width: 35%;
    text-align: left;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 35px;

}

#sadrzaj p{
    display: inline-block;
    width: 50%;
    text-align: left;
    font-size: 25px;
    margin-top: 25px;
    margin-right: 1px;
}

@media screen and (max-width: 1021px) {
    #sadrzaj {
        width: 75%;
    }
    
    #sadrzaj label {
        margin-left: 70px;
    }

    #sadrzaj p {
        margin-left: 10px;
        width: 20%;
    }
}