* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: inline-block;
    float: left;
    position: fixed;
    width: 100%;
    background-color: black;
    text-align: left;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: gray;
}

#poslednji {
    float: right;
}

main {
    display: inline-block;
    margin-top: 50px;
}

main form {
    width: 90%;
}

main label {
    display: inline-block;
    float: left;
    width: 50%;
    height: 50px;
    text-align: right;
    padding-right: 30px;
    white-space: nowrap;
    line-height: 55px;
    padding-bottom: 50px;
}

main input {
    display: inline-block;
    float: left;
    height: 50px;
    width: 50%;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 5px;
}

main select {
    display: inline-block;
    float: left;
    height: 50px;
    width: 50%;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    text-align-last: center;
    margin-bottom: 5px;
}

#slika {
    border: 1px solid black;
    margin-bottom: 5px;
}

main form button {
    display: inline-block;
    float: left;
    height: 50px;
    width:  50%;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    text-align-last: center;
    margin-left: 50%;
    margin-bottom: 5px;
}


@media screen and (max-width: 771px) {
    main {
        margin-top: 90px;
    }
}