table {
    display: block;
    width: 86%;
    text-align: center;
    font-size: 35px;
    margin-right: auto;
    margin-left: auto;
}

#tabela {


}

table,th,td  {
    white-space: nowrap;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #ddd;
}

th, td {
    padding: 10px;
}

table caption {
    font-size: 40px;
    padding: 10px;
}