<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::main},~{::pretraga},~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/DodavanjeKomentara.css}" rel="stylesheet" th:fragment="link">
    
    <script type="text/javascript" th:src="@{/js/DodavanjeKomentara.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" th:fragment="link">
    <title>Dodavanje Komentara</title>
</head>
<body>
<div th:fragment="pretraga"></div>
    <main>
        <div id="sadrzaj">
            <form action="" method="post" id="komentarForm">
                <input type="hidden" name="ocena" id="ocena" value="0"/>
                <label for="nazivKnjige">Naziv Knjige: </label>
                <label th:text="${knjiga.naziv}" id="nazivKnjige"></label>

                <label for="godinaIzdavanja">Godina Izdavanja: </label>
                <label th:text="${knjiga.godinaIzdavanja}" id="godinaIzdavanja"></label>

                <div id="zvezdice">

                    <span class="fa fa-star" id="zvezdica1"></span>
                    <span class="fa fa-star" id="zvezdica2"></span>
                    <span class="fa fa-star" id="zvezdica3"></span>
                    <span class="fa fa-star" id="zvezdica4"></span>
                    <span class="fa fa-star" id="zvezdica5"></span>
                </div>

                <textarea id="unos" name="tekstKomentara" rows="4" cols="185"></textarea>

                <button type="button">Odustani</button>
                <button type="submit" id="submit">Posalji</button>

            </form>
        </div>
    </main>
</body>
</html>