<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::main}, ~{::pretraga}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <base th:href="@{/}">-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/Index.css}" rel="stylesheet" th:fragment="link"/>
<!--    <link rel="stylesheet" type="text/css" href="css/Index.css" th:fragment="link">-->
<!--    <script src="js/index.js" th:fragment="script"></script>-->
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" th:fragment="link">

    <title>Pocetna Stranica</title>
</head>
<body>

    <div th:fragment="pretraga" id="pretragaDiv">
        <form action="" method="get" id="pretragaForm">
            <input th:if="${session.prijavljeniKorisnik != null and #strings.equals(session.prijavljeniKorisnik.getUloga().toString(), 'ADMINISTRATOR')}" id="txtISBN" type="text" name="ISBN" placeholder="ISBN" autocomplete="off">
            <input id="txtNaziv" type="text" name="naziv" placeholder="Naziv" autocomplete="off">
            <select name="idZanra" id="txtZanra">
                <option value="">Odaberi</option>
                <option th:each="itZanr: ${zanrovi}" th:value="${#strings.toString(itZanr.idZanra)}" th:text="${itZanr.naziv}" th:selected="${#strings.equals(#strings.toString(itZanr.idZanra), param.zanr)}"></option>
            </select>
            <!--            <input id="txtZanr" type="text" placeholder="Zanr" autocomplete="off">-->
            <input id="txtCenaOd" type="number" step="0.01" name="cenaOd" placeholder="Cena Od" autocomplete="off">
            <input id="txtCenaDo" type="number" step="0.01" name="cenaDo" placeholder="Cena Do" autocomplete="off">
            <input id="txtAutor" type="text" name="autor" placeholder="Autor" autocomplete="off">
            <input id="txtJezik" type="text" name="jezik" placeholder="Jezik" autocomplete="off">
            <button type="submit">Pretrazi</button>
            <!-- <a href="">Submit</a> -->
        </form>
    </div>
    <main>
        <div id="sadrzaj">
            <div class="knjige" th:each="itKnjiga, status: ${knjige}">
                <img th:src="@{${itKnjiga.slika}}">
                <h2><a th:text="${itKnjiga.naziv}" th:href="|Detalji?idKnjige=${#strings.toString(itKnjiga.idKnjige)}|">Ovaj tekst se nece</a></h2>
<!--                <p class="opis" th:text="${itKnjiga.kratakOpis}">Ovaj tekst se takodje nece ispisati</p>-->
                <p class="autori" th:each="itAutor, stat: ${itKnjiga.autori}" th:text="|${itAutor.imeAutora} ${itAutor.prezimeAutora}|"></p>
                <th:block th:switch="${itKnjiga.ocena}">
                    <div id="zvezdice" th:case="0">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div id="zvezdice" th:case="1">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div id="zvezdice" th:case="2">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div id="zvezdice" th:case="3">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div id="zvezdice" th:case="4">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div id="zvezdice" th:case="5">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>
                </th:block>
                <p id="cena" th:text="|${itKnjiga.cena} RSD|"></p>

                <button type="button" class="dugme" id="dugmeKupi">Dodaj u Korpu</button>
                <button type="button" class="dugme" id="dugmeUListu">Dodaj u Listu Želja</button>
            </div>
        </div>
    </main>

</body>
</html>