<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::main},~{::pretraga},~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/IzmenaKnjiga.css" th:fragment="link">
    <script src="js/IzmenaKnjiga.js" th:fragment="script"></script>
    <title>Izmena/Dodavanje Knjige</title>
</head>
<body>
<div th:fragment="pretraga"></div>>
    <main>
        <!-- 
         Naziv
         ISBN (jedinstveno obeležje od 13 cifara)
         Izdavačka kuća
         Autor
         Godina izdavanja
         Kratak opis
         Slika (izgled korica)
         Cena
         Broj stranica
         Tip poveza (tvrdi ili meki)
         Pismo (latinica ili ćirilica)
         Jezik na kome je pisana knjiga
         Prosečna ocena knjige
        -->

        <div id="sadrzaj">

            <form action="Izmeni" method="post" enctype="multipart/form-data" id="izmenaForm">
                <input type="hidden" name="id" th:value="${knjiga.idKnjige.toString()}">

                <label for="naziv">Naziv Knjige</label>
                <input type="text" name="naziv" th:value="${knjiga.naziv}" id="naziv"><br>

                <label for="isbn">ISBN Knjige</label>
                <input type="text" name="ISBN" th:value="${knjiga.ISBN}" id="isbn" readonly><br>

                <label for="izdavackaKuca">Izdavačka Kuća</label>
                <input type="text" name="izdavackaKuca" th:value="${knjiga.izdavackaKuca}" id="izdavackaKuca"><br>

                <label for="autor">Autor Knjige</label>
                <input type="text" name="idAutora" th:value="${autori}" id="autor"><br>

                <label id="nalepnicaZanrovi">Zanrovi</label>
                <div id="okvir">
                    <th:div th:each="itZanr: ${zanrovi}" id="zanrovi">
                        <input type="checkbox" name="idZanrova" id="checkbox" th:value="${itZanr.idZanra.toString()}" th:checked="${#lists.contains(knjiga.zanrovi, itZanr)}" /><span id="spanovi" th:text="${itZanr.naziv}"></span>
                    </th:div>
                </div>


                <label for="godina">Godina Izdavanja</label>
                <input type="number" name="godinaIzdavanja" th:value="${knjiga.godinaIzdavanja}" id="godina"><br>

                <label for="kratakOpis">Kratak Opis</label>
                <input type="text" name="kratakOpis" th:value="${knjiga.kratakOpis}" id="kratakOpis"><br>

                <label for="cena">Cena Knjige</label>
                <input type="number" name="cena" th:value="${knjiga.cena}" id="cena" step="0.01"><br>

                <label for="brojStranica">Br. Stranica Knjige</label>
                <input type="number" name="brojStranica" th:value="${knjiga.brojStranica}" id="brojStranica"><br>

                <label for="povez">Povez Knjige</label>
                <select name="povez" id="povez">
                    <option th:value="${knjiga.povez.toString()}" th:text="${knjiga.povez.toString()}" selected hidden>Povez Knjige</option>
                    <option value="TVRDI">TVRDI</option>
                    <option value="MEKI">MEKI</option>
                </select><br>

                <label for="pismo">Pismo Knjige</label>
                <select name="pismo" id="pismo">
                    <option th:value="${knjiga.pismo.toString()}" th:text="${knjiga.pismo.toString()}" selected hidden>Pismo</option>
                    <option value="LATINICA">LATINICA</option>
                    <option value="CIRILICA">CIRILICA</option>
                </select><br>

                <label for="jezik">Jezik Knjige</label>
                <input type="text" name="jezik" th:value="${knjiga.jezik}" id="jezik"><br>

                <label for="slika">Slika Knjige</label>
                <input type="file" name="slika" placeholder="Slika Korice" id="slika"><br>

                <label for="brojPrimeraka">Broj Primeraka</label>
                <input type="number" name="brojPrimeraka" th:value="${knjiga.brojPrimeraka}" id="brojPrimeraka" readonly><br>

                <button type="submit" name="posalji">Posalji</button>

            </form>
        </div>
    </main>
</body>
</html>