<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::main},~{::pretraga},~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="css/KnjigaDetalji.css" th:fragment="link">-->
<!--    <script src="js/KnjigaDetalji.js" th:fragment="script"></script>-->

    <link th:href="@{/css/KnjigaDetalji.css}" rel="stylesheet" th:fragment="link"/>
    <script type="text/javascript" th:src="@{/js/KnjigaDetalji.js}"></script>
    <title>Detalji Knjige</title>
</head>
<body>
<div th:fragment="pretraga"></div>
    <main>
        <img th:src="@{${knjiga.slika}}" id="slikaKnjige">

        <div id="sadrzaj">
            <input type="hidden" id="idKnjige" name="idKnjige" th:value="${knjiga.idKnjige.toString()}"/>


            <div>
                <h1 th:text="${knjiga.naziv}" id="naslov">Knjiga sa naslovom 1</h1>
                <svg id="dodajUListuZelja" class="heart" viewBox="0 0 32 29.6">
                    <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
                </svg>
            </div>

            <p th:each="itAutor, stat: ${knjiga.autori}" th:text="|${itAutor.imeAutora} ${itAutor.prezimeAutora}|" id="autor" style="width:100%; margin-bottom:30px">Ime Prezime</p>

            <label for="isbn">ISBN:</label>
            <p th:text="${knjiga.ISBN}" id="isbn">978-3-16-148410-0</p>

            <label for="izdavac">Izdavac:</label>
            <p th:text="${knjiga.izdavackaKuca}" id="izdavac">Naziv Izdavaca</p>

            <label for="godina">Godina:</label>
            <p th:text="${knjiga.godinaIzdavanja}" id="godina">2000</p>

            <label for="brStrana">Strana:</label>
            <p th:text="${knjiga.brojStranica}" id="brStrana">313</p>

            <label for="povez">Povez:</label>
            <p th:text="${knjiga.povez.toString()}" id="povez">Tvrdi</p>

            <label for="pismo">Pismo:</label>
            <p th:text="${knjiga.pismo.toString()}" id="pismo">Latinica</p>

            <label for="jezik">Jezik:</label>
            <p th:text="${knjiga.jezik}" id="jezik">Latinski</p>

            <label for="ocena">Ocena:</label>
            <p th:text="${knjiga.ocena}" id="ocena">3.3</p>

            <label th:if="${session.prijavljeniKorisnik != null and #strings.equals(session.prijavljeniKorisnik.getUloga().toString(), 'ADMINISTRATOR')}">Primeraka:</label>
            <p th:if="${session.prijavljeniKorisnik != null and #strings.equals(session.prijavljeniKorisnik.getUloga().toString(), 'ADMINISTRATOR')}" th:text="${knjiga.brojPrimeraka}" id="brojPrimeraka"></p>

            <form action="Korpa/DodajUKorpu" method="post" id="uKorpuForm" th:if="${session.prijavljeniKorisnik != null and #strings.equals(session.prijavljeniKorisnik.getUloga().toString(), 'KUPAC')}">
                <input type="hidden" name="idKnjige" th:value="${knjiga.getIdKnjige().toString()}">
                <input type="number" name="brPrimeraka">
            </form>
            <button th:if="${session.prijavljeniKorisnik != null and #strings.equals(session.prijavljeniKorisnik.getUloga().toString(), 'KUPAC')}" id="dugmeDodajUKorpu">Dodaj U Korpu</button>
            <button th:if="${session.prijavljeniKorisnik != null and #strings.equals(session.prijavljeniKorisnik.getUloga().toString(), 'KUPAC')}" id="dugmeKomentarisi">Komentarisi</button>
            <button th:if="${session.prijavljeniKorisnik != null and #strings.equals(session.prijavljeniKorisnik.getUloga().toString(), 'ADMINISTRATOR')}" id="dugmeIzmeni">Izmeni</button>
        </div>
        
        <div id="opisKnjige">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat ipsam nostrum tempora reprehenderit ipsum quos quisquam molestias ad officiis illum? Error, rerum facere. Nam itaque eum consectetur laudantium magni voluptates. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus possimus et commodi fugiat deserunt ipsa mollitia distinctio saepe quo vitae, ex, labore impedit omnis rerum, accusantium alias eius ipsum est. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse earum perspiciatis, impedit aliquam explicabo nihil eos necessitatibus assumenda labore non quod ipsa temporibus commodi blanditiis id accusamus consequatur officia unde! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet ducimus dolorum sint adipisci at est quos recusandae, voluptates similique? Sed sequi necessitatibus earum. Quisquam qui corporis error magnam, itaque id.</p>
        </div>
        <div id="komentari">
        </div>
        <form action="ListaZelja/DodajUkloniIzListeZelja" method="post" id="uListuZeljaForm">
            <input type="hidden" name="idKnjige" th:value="${knjiga.getIdKnjige().toString()}">
        </form>



    </main>


</body>
</html>