<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::main},~{::pretraga},~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/KorisnikDetalji.css}" rel="stylesheet" th:fragment="link"/>
    <script type="text/javascript" th:src="@{/js/KorisnikDetalji.js}"></script>
    <title>Korisnik Detalji</title>
</head>
<body>
<div th:fragment="pretraga"></div>
    <main>
        <div id="sadrzaj">
            <img th:src="@{/slike/placeholder.png}" alt="placeholder" id="placeholder">

            <label for="ime">Ime:</label>
            <p th:text="${korisnik.ime}" id="ime"></p>

            <label for="prezime">Prezime:</label>
            <p th:text="${korisnik.prezime}" id="prezime"></p>

            <label for="korisnicko">Korisnicko:</label>
            <p th:text="${korisnik.korisnickoIme}" id="korisnicko"></p>

            <label for="email">Email:</label>
            <p th:text="${korisnik.email}" id="email"></p>

            <label for="datumRodjenja">Dat. Rodjenja:</label>
            <p th:text="${korisnik.datumRodjenja}" id="datumRodjenja"></p>

            <label for="adresa">Adresa:</label>
            <p th:text="${korisnik.adresa}" id="adresa"></p>

            <label for="kontakt">Kontakt:</label>
            <p th:text="${korisnik.korisnickoIme}" id="kontakt"></p>

            <form action="Izmeni" method="post" id="izmenaForm">
                <input type="hidden" id="idKorisnika" name="idKorisnika" th:value="${korisnik.idKorisnika.toString()}">

                <label for="uloga">Uloga</label>
                <select name="ulogaKorisnika" id="ulogaKorisnika">
                    <option th:value="${korisnik.uloga.toString()}" th:text="${korisnik.uloga.toString()}" selected hidden></option>
                    <option value="ADMINISTRATOR">ADMINISTRATOR</option>
                    <option value="KUPAC">KUPAC</option>
                </select><br>

                <label th:if="${#strings.equals(korisnik.getUloga().toString(), 'ADMINISTRATOR') == false}" for="blokiran">Blokiran</label>
                <input th:if="${#strings.equals(korisnik.getUloga().toString(), 'ADMINISTRATOR') == false}" type="checkbox" name="blokiran" id="blokiran"  value="Hello" th:checked="${korisnik.blokiran}">

                <button type="submit" name="posalji" id="posalji">Posalji</button>
            </form>
        </div>
    </main>
</body>
</html>