<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::main},~{::pretraga},~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="css/Korpa.css" th:fragment="link">-->
    <link th:href="@{/css/Korpa.css}" rel="stylesheet" th:fragment="link"/>
    <script src="js/Korpa.js" th:fragment="script"></script>
    <title>Korisnička Korpa</title>
</head>
<body>
<div th:fragment="pretraga"></div>
    <main>
        <div id="sadrzaj">
            <div th:if="${korpa == null or korpa.stavke.size() == 0}" id="nema-stavka">
                <h1>Trenutno nemate stavka u korpi!</h1>
            </div>
            <table th:if="${korpa != null and korpa.stavke.size() != 0}" class="tabela">
                <caption>Korpa</caption>
                <thead>
                <tr>
                    <th>Naziv knjige</th>
                    <th>Autori</th>
                    <th>Kolicina</th>
                    <th>Cena Primerka</th>
                    <th>Ukupna Cena Stavke</th>
                    <th>Izbaci</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="stavka, status: ${korpa.stavke}">
                        <td><p th:text="${stavka.knjiga.naziv}"></p></td>
                        <td>
                            <ul>
                                <li th:each="itAutor : ${stavka.knjiga.autori}" th:text="|${itAutor.imeAutora} ${itAutor.prezimeAutora}|"></li>
                            </ul>
                        </td>
                        <td><p th:text="${stavka.kolicina}"></p></td>
                        <td><p th:text="${stavka.knjiga.cena}"></p></td>
                        <td><p th:text="${stavka.kolicina * stavka.knjiga.cena}"></p></td>
                        <td>
                            <form th:action="|Korpa/IzbaciIzKorpe?idKnjige=${stavka.knjiga.idKnjige}|" method="post">
                                <button type="submit">Izbaci</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <form action="Kupovina/Kupi" method="post" id="uKorpuForm" th:if="${session.prijavljeniKorisnik != null and #strings.equals(session.prijavljeniKorisnik.getUloga().toString(), 'KUPAC') and korpa != null and korpa.stavke.size() > 0}">
                <label for="brojPoena">Broj Poena</label>
                <select th:if="${kartica != null && kartica.statusKartice == 'ODOBREN'}" name="brojPoena" id="brojPoena">
                    <option th:each="i : ${#numbers.sequence(0, kartica.brojPoena)}" th:value="${i}" th:text="${i}">
                    </option>
                </select><br>
                <input type="submit" value="Submit">
            </form>

<!--            <table class="tabela">-->
<!--                <caption>Korpa korisnika</caption>-->
<!--                <thead>-->
<!--                    <tr>-->
<!--                        <th>Nesto</th>-->
<!--                    </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                    <tr th:each="idKnjiga, status: ${knjige}">-->

<!--                    </tr>-->
<!--                </tbody>-->
<!--            </table>-->
        </div>
    </main>
</body>
</html>