<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::main},~{::pretraga},~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/ListaZelja.css}" rel="stylesheet" th:fragment="link"/>
    <script type="text/javascript" th:src="@{/js/ListaZelja.js}"></script>
    <title>Lista Zelja</title>
</head>
<body>
<div th:fragment="pretraga"></div>
    <main>
        <div id="sadrzaj">
            <table class="tabela">
                <caption>Lista Zelja</caption>
                <thead>
                    <tr>
                        <th>Naziv Knjige</th>
                        <th>Autori</th>
                        <th>Zanrovi</th>
                        <th>Cena</th>
                        <th>Izbaci Iz Liste Zelja</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="itKnjiga, statusKnjige: ${listaZelja.getKnjige}">
                        <td><a th:href="|Detalji?idKnjige=${#strings.toString(itKnjiga.idKnjige)}|" th:text="${itKnjiga.naziv}"></a></td>
                        <td>
                            <ul>
                                <li th:each="itAutor, statusAutora : ${itKnjiga.autori}" th:text="|${itAutor.imeAutora} ${itAutor.prezimeAutora}|"></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li th:each="itZanr, statusZanra : ${itKnjiga.zanrovi}" th:text="${itZanr.naziv}"></li>
                            </ul>
                        </td>
                        <td th:text="${itKnjiga.cena}"></td>
                        <td>
                            <form th:action="|ListaZelja/DodajUkloniIzListeZelja?idKnjige=${itKnjiga.idKnjige}|" method="post">
                                <button type="submit">Izbaci</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>