<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::main},~{::pretraga},~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/LoyaltyKartica.css}" rel="stylesheet" th:fragment="link"/>
  <script type="text/javascript" th:src="@{/js/LoyaltyKartica.js}"></script>
  <title>Loyalty Kartica</title>
</head>
<body>
<div th:fragment="pretraga"></div>
  <main>
    <div id="sadrzaj">
      <div th:if="${kartica == null}" id="nema-stavka">
        <h1>Trenutno nemate podnet zahtev za Loyalty Karticu!</h1>
      </div>
      <div th:if="${kartica == null}" id="nema">
        <button onclick="document.location='/Knjizara/Korisnici/ZatraziKarticu'">Zatrazi Karticu</button>
      </div>
      <div th:if="${kartica != null && #strings.toString(kartica.statusKartice.toString() == 'NA_CEKANJU')}" id="">
        <h1>Zahtev za loyalty karticu je podnet, čeka se odobravanje!</h1>
      </div>
      <div th:if="${kartica != null && #strings.toString(kartica.statusKartice.toString() == 'NIJE_ODOBREN')}" id="">
        <h1>Zahtev za loyalty karticu je podnet, ali je nažalost odbijen.!</h1>
        <button onclick="document.location='/Knjizara/Korisnici/ZatraziKarticu'">Zatrazi Ponovo</button>
      </div>
      <div th:if="${kartica != null && #strings.toString(kartica.statusKartice.toString() == 'ODOBREN')}" id="">
        <p>Loyalty kartica vam je odobrena!</p>
        <div><p th:text="|Broj preostalih poena na kartici: ${kartica.brojPoena}|"></p></div>
      </div>

      </table>
    </div>
  </main>

</body>
</html>