<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::main},~{::pretraga},~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/PrikazSvihKorisnika.css}" rel="stylesheet" th:fragment="link"/>
    <script src="js/PrikazSvihKorisnika.js" th:fragment="script"></script>
    <title>Prikaz Korisnika</title>
</head>
<body>
    <div th:fragment="pretraga"></div>
    <main>
        <div id="sadrzaj">
            <table class="tabela">
                <caption>Korisnici</caption>
                <thead>
                    <tr>
                        <th>Korisnicko Ime</th>
                        <th>Datum i Vreme Registracije</th>
                        <th>Uloga</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="itKorisnik, status: ${korisnici}">
                        <td><a th:href="|Korisnici/Detalji?idKorisnika=${#strings.toString(itKorisnik.idKorisnika)}|" th:text="${itKorisnik.korisnickoIme}"></a></td>
                        <td th:text="${itKorisnik.datumIVremeRegistracije}"></td>
                        <td th:text="${itKorisnik.uloga}"></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </main>
</body>
</html>