<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::main},~{::pretraga},~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/Registracija.css}" rel="stylesheet" th:fragment="link"/>
    <script type="text/javascript" th:src="@{/js/Registracija.js}"></script>
    <title>Registracija</title>
</head>
<body>
<div th:fragment="pretraga"></div>
    <main>
        <div id="sadrzaj">
            <form action="" method="post" id="registracija">
                <h1 th:text="${poruka}"></h1>

                <label for="korisnicko">Korisničko Ime</label>
                <input th:value="${session.korisnicko}" type="text" name="korisnicko" id="korisnicko" placeholder="Korisničko Ime">

                <label for="password">Lozinka</label>
                <input th:value="${session.password}" type="password" name="password" id="password" placeholder="Lozinka">

                <label for="repeatedPassword">Ponovljena Lozinka</label>
                <input th:value="${session.repeatedPassword}" type="password" name="repeatedPassword" id="repeatedPassword" placeholder="Ponovljena Lozinka">

                <label for="email">Email</label>
                <input th:value="${session.email}" type="text" name="email" id="email" placeholder="Email">

                <label for="ime">Ime</label>
                <input th:value="${session.ime}" type="text" name="ime" id="ime" placeholder="Ime">

                <label for="prezime">Prezime</label>
                <input th:value="${session.prezime}" type="text" name="prezime" id="prezime" placeholder="Prezime">

                <label for="datumRodjenja">Datum Rođenja</label>
                <input th:value="${session.datumRodjenja}" type="date" name="datumRodjenja" id="datumRodjenja" placeholder="Datum Rođenja">

                <label for="adresa">Adresa</label>
                <input th:value="${session.adresa}" type="text" name="adresa" id="adresa" placeholder="Adresa">

                <label for="brojTelefona">Br.Telefona</label>
                <input th:value="${session.brojTelefona}" type="text" name="brojTelefona" id="brojTelefona" placeholder="Broj Telefona">

                <button type="submit" name="posalji" id="posalji">Registruj Se</button>

            </form>
        </div>
    </main>
</body>
</html>